body {
    background-color: #1F2937;


}

nav {
    display: flex;
    color: #E5E7EB;
    background-color: #1F2937;
    padding-top: 16px;
}

a:link {
    text-decoration: none;
    color: #F9FAF8;
}

a:visited {
    color: #F9FAF8;
}

.logo {
    flex: 4;
    font-size: 24px;
    color: #F9FAF8;
    padding-left: 125px;
    font-weight: 800;
}

.nav-list {
    display: flex; 
    margin: 0px 0px 0px 0px;
    padding: 0;  
    flex: 1;
    justify-content: center;
    align-items: flex-end;
}

.nav-list li {
    gap: 24px;
    flex: 1;
}


.hero1 {
    display: flex;
    color: #E5E7EB;
    margin: 0;
    padding: 125px;
    background-color: #1F2937;
    height: 400px;
    align-items: center;
    justify-content: center;
    gap: 24px;
    min-width: 250px;
    
}

.title {
    font-size: 48px;
    color: #F9FAF8;

}

p.story {
    font-size: 18px;
    color: #E5E7EB;
}


button {
    background-color: #3882F6;
    border-radius: 8px;
    border-width: 0px;
    font-size: 16px;
    color: #E5E7EB;
    font-weight: 700;
    white-space: nowrap;
    padding: 8px 18px 8px 18px;
}

.hero1 img {
    max-width: 600px;
    max-height: auto;
    border-radius: 12px;

    
}

.hero2 {
    display: flex;
    background-color: #E5E7EB;
    height: 400px;
    
}

.boxes {
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
    gap: 45px;

}
 li {
    list-style: none;
 }

.boxes li img {
    list-style: none;
    text-align: center;
    width: 150px;
    height: auto;
    list-style: none;
    align-items: center;
    justify-content: center;

}

.caption {
    display: flex;
    font-size: 16px;
    width: 145px;
    word-wrap: break-word;
    
}



footer {
    text-align: center;
    padding: 40px;
    color: #E5E7EB;
}