body {
    background-color: #242527;


}

nav {
    display: flex;
    color: #E5E7EB;
    background-color: #242527;
    padding-top: 16px;
}

a:link {
    text-decoration: none;
    color: #F9FAF8;
}

a:visited {
    color: #771919;
}

.logo {
    display: flex;
    width: 200px;
    height: auto;
    justify-content: center;
    align-items: center;
    margin-left: 125px;
    padding: 2px;
}

.nav-list {
    display: flex; 
    margin: 0px 0px 0px 0px;
    padding: 0;  
    align-items: center;
    justify-content: flex-end;
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 800;
    flex: 1;
    gap: 24px;
    margin-right: 125px;
}



.hero1 {
    display: flex;
    color: #E5E7EB;
    margin: 0;
    padding: 125px;
    background-color: #242527;
    height: 400px;
    align-items: center;
    min-width: 250px;
    
}

.title {
    text-align: left;
    font-size: 48px;
    color: #F9FAF8;
    
}

p.story {
    text-align: left;
    font-size: 18px;
    color: #E5E7EB;
}

.void {

    margin-right: 345px;
    text-align: left;
}


button {
    background-color: #771919;
    border-radius: 7px;
    border-width: 2px;
    border-color: #333333;
    border-style: groove;
    font-size: 16px;
    color: #1f0000;
    font-weight: 700;
    white-space: nowrap;
    padding: 10px 20px 10px 20px;
}

button:hover {
    background-color: #1f0000;
    color: #771919;
}

.hero1 img {
    max-width: 600px;
    max-height: auto;
    border-radius: 12px;

    
}

.hero2 {
    display: flex;
    background-image: url(/home/catch2two/repos/website/img/box3.jpg);
    background-repeat: repeat;
    background-size: contain;
    background-position: center;
    background-color: #ffffff;
    height: 800px;
    flex-direction: column;
    
}

.gods {
    flex: 1;
    font-size: 48px;
    font-weight: 700;
    color: #1f0000;
}

.boxes {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    gap: 45px;
    

}
 li {
    list-style: none;
    text-shadow: rgb(87, 5, 5) 1px 0 2px;
     }

.boxes li img {

    width: 150px;
    height: auto;
    list-style: none;
    align-items: center;
    justify-content: center;

}

.caption {
    display: flex;
    margin-left: 50px;
    font-size: 16px;
    width: 145px;
    word-wrap: break-word;
    text-align: center;
    
}

.hero3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
    padding: 200px;
    background-image: url(/home/catch2two/repos/website/img/ghost.jpg);
}

p {
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    color: #E5E7EB;
    text-shadow: rgb(37, 37, 37) 1px 0 5px;
}


.hero4 {
    display: flex;
    height: 300px;
    align-items: center;
    justify-content: center;
    
}

.church {
    display: flex;
    background-color: #1d1d1d;
    padding: 25px 75px 25px 75px;
    color: #E5E7EB;
    border-radius: 25px;
    align-items: center;
    gap: 25px;
}


.join p {
    flex-direction: column;
    font-size: 18px;
    color: #E5E7EB;
    
}


footer {
    text-align: center;
    padding: 40px;
    color: #E5E7EB;
}