body {
    background-color: #242527;
    min-width: 1000px;
    margin-left: 50px;
    margin-right: 50px;

}

nav {
    display: flex;
    color: #E5E7EB;
    background-color: #242527;
    padding-top: 16px;
}

a:link {
    text-decoration: none;
    color: #F9FAF8;
}

a:visited {
    color: #F9FAF8;
}

.logo {
    display: flex;
    width: 200px;
    height: auto;
    justify-content: center;
    align-items: center;
    margin-left: 125px;
    padding: 2px;
    border-width: 1px;
    border-radius: 100px;
    border-color: #000000;
    border-style: double;
}

.nav-list {
    display: flex; 
    margin: 0px 0px 0px 0px;
    padding: 0;  
    align-items: center;
    justify-content: flex-end;
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 800;
    flex: 1;
    gap: 24px;
    margin-right: 125px;
}



.hero1 {
    display: flex;
    color: #E5E7EB;
    margin: 0;
    padding: 125px;
    background-color: #242527;
    height: 400px;
    align-items: center;
    justify-content: center;
    gap: 44px;
    min-width: 250px;
    
}

.title {
    font-size: 48px;
    color: #F9FAF8;

}

p.story {
    font-size: 18px;
    color: #E5E7EB;
}


button {
    background-color: #3a3a3a;
    border-radius: 8px;
    border-width: 0px;
    font-size: 16px;
    color: #1d1d1d;
    font-weight: 700;
    white-space: nowrap;
    padding: 8px 18px 8px 18px;
}

.hero1 img {
    max-width: 600px;
    max-height: auto;
    border-radius: 12px;

    
}

.hero2 {
    display: flex;
    background-image: url(/home/catch2two/repos/website/img/box3.jpg);
    background-repeat: repeat;
    background-size: contain;
    background-position: center;
    background-color: #E5E7EB;
    height: 400px;
    
}

.boxes {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    gap: 45px;
    

}
 li {
    list-style: none;
    text-shadow: rgb(37, 37, 37) 1px 0 10px;
 }

.boxes li img {
    list-style: none;
    text-align: center;
    width: 150px;
    height: auto;
    list-style: none;
    align-items: center;
    justify-content: center;

}

.caption {
    display: flex;
    font-size: 16px;
    width: 145px;
    word-wrap: break-word;
    
}

.hero3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
    padding: 200px;
    background-image: url(/home/catch2two/repos/website/img/ghost.jpg);
}

p {
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    color: #E5E7EB;
    text-shadow: rgb(37, 37, 37) 1px 0 10px;
}


.hero4 {
    display: flex;
    height: 300px;
    align-items: center;
    justify-content: center;
    
}

.church {
    background-color: #1d1d1d;
    padding: 25px 75px 25px 75px;
    color: #E5E7EB;
    border-radius: 25px;
}


.church p {
    font-size: 18px;
    color: #E5E7EB;
}


footer {
    text-align: center;
    padding: 40px;
    color: #E5E7EB;
}